/* content */
.spanning {
    clear: both;
}
.content {
}
.tagged {
    border: 2px solid $red;
}
.breadcrumbs {
    padding: 7px 0 19px;
    font-size: 12px;
    line-height: 1.2;
    color: #363C50;
    a {
        color: #363C50;
        &:hover {
            color: $p;
        }
    }
}
.hero-inner {
    padding-bottom: 75px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.info-inner {
    padding-bottom: 118px;
}
.info-inner-content {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    max-width: 530px;
    margin: 0 auto;
    h1 {
        font-weight: 600;
        color: #110829;
        font-size: 36px;
        font-family: $fontTitle;
        letter-spacing: -0.5px;
        line-height: 1.39;
        margin-bottom: 30px;
    }
}
.info-tab {
    background: #110829;
    color: $w;
    padding: 44px 0 158px;
}
.tabs-navigation {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    margin-bottom: 104px;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
}
.tabs {
    display: flex;
    font-family: $ft;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    li {
        transition: color $d $f, border-color $d $f;
        border-bottom: 3px solid $tr;
        color: rgba(255, 255, 255, 0.41);
        letter-spacing: -0.22px;
        padding: 24px 18px 21px;
        white-space: nowrap;
        cursor: pointer;
        &.active {
            color: $w;
            border-bottom-color: $p;
        }
        &:hover {
            color: $w;
        }
    }
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.info-box-content {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 102px;
    p {
        margin-bottom: 24px;
    }
    h4 {
        opacity: 0.5;
        letter-spacing: -0.22px;
        font-family: $ft;
        font-weight: 500;
        font-size: 16px;
        color: $w;
        margin-bottom: 5px;
    }
    h3 {
        font-family: $ft;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.64px;
        color: $w;
        margin-bottom: 26px;
    }
}
.info-tab-img {
    margin-left: auto;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.product {
    background: $w;
    position: relative;
    background-color: #D6D5DA;
}
.product-gallery-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
}
.no-js {
    .product-gallery-item {
        display: none;
        &:first-child {
            display: block;
        }
    }
}
.product-item-background {
    padding-top: 79.4%;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
}
.color-group-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.color-group-cell {
    padding-right: 5px;
}
ul.color-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: 15px;
    li {
        margin: 4px 0 3px 7px;
    }
}
.measure-link {
    display: block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background: #d6d5da url('../upload/icons/measure.svg') 50% 50% no-repeat;
    background-size: 29px 27px;
    border-radius: 6px;
    border: 1px solid #d6d5da;
    &:hover {
        background-color: #e3e3e6;
        border-color: #c7c7ca;
    }
}
.radio-color {
    display: block;
    input {
        display: none;
        &:checked + label {
            &:after {
                opacity: 1;
            }
        }
        &:disabled + label {
            opacity: 0.5;
        }
    }
    label {
        cursor: pointer;
        text-indent: -9999px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        &:after {
            opacity: 0;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $tr url('../upload/icons/check.svg') no-repeat 50% 50%;
            background-size: 14px 12px;
            transition: opacity $d $f;
        }
    }
}
.product-thumbnails-wrapper {
    width: 336px;
    margin-left: -4px;
}
.product-thumbnail {
    padding: 2px 6px;
}
.product-thumbnail-item {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: 117% 50%;
    &:before {
        cursor: pointer;
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 1px solid #B5B5B8;
        transition: border-color $d $f;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.25;
        cursor: pointer;
        transition: opacity $d $f;
    }
    &:hover {
        &:after {
            opacity: 0;
        }
    }
}
.product-thumbnail:last-child {
    .product-thumbnail-item {
        background-position: 50% 50%;
    }
}
.slick-current {
    .product-thumbnail-item {
        &:before {
            cursor: default;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border-width: 2px;
            border-color: $p;
        }
        &:after {
            opacity: 0;
            cursor: default;
        }
    }
}
.no-js {
    .product-thumbnail {
        display: none;
    }
}
.product-content {
    padding-bottom: 100px;
    padding-top: 115px;
    position: relative;
    z-index: 2;
    height: 79.4vw;
}
.product-title {
    color: $s;
    letter-spacing: -0.58px;
    font-weight: bold;
    font-size: 42px;
    max-width: 260px;
    line-height: 1.19;
    margin-left: -2px;
    font-family: $ft;
    margin-bottom: 32px;
    h1 {
        font-weight: bold;
        font-size: 100%;
    }
}
.product-price {
    font-family: $ft;
    font-weight: 500;
    color: #202124;
    margin-bottom: 27px;
}
.product-price-st {
    margin-left: -2px;
    font-size: 32px;
    line-height: 1.2;
}
.product-price-mo {
    padding-top: 5px;
    color: rgba(32,33,36, 0.6);
    font-size: 16px;
    line-height: 1.5;
}
.product-description {
    font-family: $ft;
    font-size: 14px;
    line-height: 1.72;
    max-width: 456px;
    margin-bottom: 29px;
}
.product-options {
    margin-bottom: 40px;
}
.color-group {
    margin-bottom: 16px;
}
.color-list-title {
    color: #202124;
    font-family: $ft;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 11px;
}
.color-list-value {
    display: inline-block;
    margin-left: 7px;
    font-weight: 500;
}
.product-navigation {
    margin-bottom: 21px;
    a.button {
        padding-left: 31px;
        padding-right: 31px;
    }
    &-note {
        padding-top: 39px;
        font-family: $ft;
        font-size: 12px;
        color: #202124;
        opacity: 0.6;
    }
}
.product-teachers {
    position: relative;
    margin-top: -10vw;
    height: 0;
    padding-top: 60.7%;
    background: $tr url('../upload/product-teachers.png') no-repeat 50% 0;
    background-size: cover;
    position: relative;
    img {
        display: block;
    }
}
.product-teachers-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate3d(0, -29.3%, 0);
    color: $w;
    text-align: center;
}
.product-teachers-content {
    max-width: 520px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.625;
    h2 {
        font-family: $ft;
        font-weight: 600;
        font-size: 46px;
        line-height: 1.413;
        letter-spacing: -0.56px;
        margin-bottom: 18px;
    }
    p {
        max-width: 474px;
        margin: 0 auto;
    }
}
.product-reviews {
    margin-top: -1px;
}
.product-video {
    position: relative;
    background: #110829;
}
.product-video-wrap {
    height: 0;
    position: relative;
    padding-top: 56.25%;
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.video-toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #110829;
}
.video-toggle-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent 50% 50% no-repeat;
    background-size: cover;
    opacity: 0.6;
}
.video-toggle-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate3d(0, -22.3%, 0);
    text-align: center;
}
.video-toggle-title {
    display: block;
    padding: 0 5%;
    color: $w;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -0.46px;
    font-family: $ft;
    line-height: 1.2;
    margin-bottom: 6px;
}
.video-toggle-play {
    display: block;
    width: 98px;
    height: 98px;
    margin: 0 auto;
    background: transparent url('../upload/icons/play.svg') 50% 50% no-repeat;
    background-size: cover;
}
.product-faq {
    background: $w;
    padding: 98px 0 187px;
}
.product-faq-content {
    max-width: 654px;
    margin: 0 auto;
}
.product-faq-title {
    text-align: center;
    font-size: 36px;
    color: #110829;
    line-height: 1.38;
    letter-spacing: -0.5px;
    font-family: $ft;
    font-weight: 600;
    margin-bottom: 42px;
}
.faq {
    margin-bottom: 64px;
}
.faq-item {
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 6px;
    &.open {
        .faq-item-title-icon {
            transform: rotate(135deg);
        }
        .faq-item-content {
            display: block;
        }
    }
}
.faq-item-title {
    display: block;
    position: relative;
    color: #363C50;
    font-size: 16px;
    padding: 15px 45px 15px 0;
}
.faq-item-title-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 7px;
    top: 15px;
    transition: transform $d $f;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        width: 1px;
        height: 17px;
        background: #8a8e99;
    }
    &:after {
        left: 0;
        top: 8px;
        width: 17px;
        height: 1px;
    }
}
.faq-item-content {
    display: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 0 40px;
}
.faq-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
        padding: 0 15px 0 0;
        color: #363C50;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &-button {
        padding: 0 0 0 15px;
        a.button {
            text-align: center;
            min-width: 231px;
        }
    }
}
.product-tech {
    padding-top: 169px;
    padding-bottom: 595px;
    background: #f5f5f5 url('../upload/product-tech.jpg') left 100% no-repeat;
    background-size: cover;
    color: #36393B;
    font-size: 13px;
    line-height: 1.846;
    h5 {
        color: #232429;
        font-family: $ft;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}
.product-tech-title {
    text-align: center;
    font-family: $ft;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.5px;
    position: relative;
    line-height: 1.39;
    color: #110829;
    padding-bottom: 33px;
    margin-bottom: 108px;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        height: 2px;
        background: $p;
    }
}
.product-tech-group {
    position: relative;
    padding-left: 40px;
    margin-bottom: 33px;
}
.product-tech-icon {
    position: absolute;
    left: 0;
    top: -3px;
    width: 30px;
    height: 30px;
    img {
        display: block;
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
}
.product-design-row {
    position: relative;
}
.product-design-flower {
    position: absolute;
    right: 0;
    top: 0;
    width: 30.0347%;
    max-width: 432px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    &-2 {
        top: auto;
        bottom: -49%;
        right: auto;
        left: 0;
        width: 35.3819%;
        max-width: 509px;
    }
    &-3 {
        top: auto;
        bottom: -50.5%;
        width: 36.2847%;
        max-width: 522px;
    }
}
.product-design-image {
    position: absolute;
    left: 0;
    top: 50%;
    width: 54.7917%;
    max-width: 789px;
    transform: translate3d(0, -50%, 0);
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    &-1 {
        transform: translate3d(0, -45.5%, 0);
    }
    &-2 {
        left: auto;
        right: 0;
        width: 57.8%;
        max-width: 832px;
        transform: translate3d(0, -45.9%, 0);
    }
    &-3 {
        width: 53.5417%;
        max-width: 771px;
    }
}
.product-design-content {
    margin-left: 14%;
    margin-right: 13%;
    padding-top: 84px;
}
.product-design-title {
    font-size: 36px;
    line-height: 1.5;
    color: #110829;
    font-family: $ft;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 18px;
}
.product-design-description {
    color: rgba(54, 60, 80, 0.7);
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 21px;
    max-width: 84%;
}
.product-design-more {
    font-size: 15px;
    font-weight: 500;
    font-family: $ft;
}
.product-design-more-link {
    display: inline-block;
    padding-left: 31px;
    position: relative;
}
.product-design-more-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    border: 1px solid $p;
    border-radius: 50%;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: $p;
        width: 1px;
        margin-top: -5px;
        height: 11px;
        margin-left: -1px;
    }
    &:after {
        margin-top: 0;
        margin-left: -6px;
        width: 11px;
        height: 1px;
    }
}
#loading-indicator {
    z-index: 99999 !important;
}
.account {
    background-color: $w;
    font-family: $fontTitle;
    padding-bottom: 100px;
    color: #36393B;
}
.account-header {
    color: $w;
    background-color: $p;
    padding: 32px 0 29px;
    margin-bottom: 75px;
}
.account-header-title {
    font-size: 28px;
    line-height: 1.4;
}
.account-content-title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #36393B;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    margin-bottom: 24px;
    h1 {
        font-size: 100%;
        font-weight: bold;
    }
    &-small {
        padding-top: 15px;
        font-size: 28px;
    }
}
.account-content {
    .wysiwyg {
        margin-top: 42px;
    }
}
.account-sidebar {
    color: #36393B;
    max-width: 240px;
}
.account-sidebar-name {
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 24px;
    border-bottom: 4px solid $p;
    margin-bottom: 34px;
}
.account-sidebar-list {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    li {
        margin-bottom: 26px;
    }
    a {
        color: #36393B;
        &.active {
            color: $p;
        }
        &.logout-link {
            color: #D0021B;
        }
        &:hover {
            color: $p;
        }
    }
}
.account-sidebar-navigation {
    padding-bottom: 40px;
}
.account-order-table {
    width: 100%;
    border-collapse: separate;
    letter-spacing: -0.4px;
    font-size: 16px;
    margin-bottom: 40px;
    thead {
        tr {
            th {
                padding-top: 4px;
                padding-bottom: 7px;
                border-bottom: 1px solid #ddd;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 14px 10px 14px 0;
                a {
                    display: block;
                }
                &:first-child {
                    padding-left: 17px;
                }
            }
            &:nth-child(odd) {
                td {
                    background: #F7F7F7;
                }
            }
            &:first-child {
                td {
                    border-top: 10px solid $w;
                }
            }
        }
    }
}
.order-block {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 32px;
}
.order-block-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 19px;
}
.checkbox-cell {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart-global-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.cart-global-cell {
    padding-bottom: 20px;
    padding-left: 14px;
}
.cart-block-table-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 50px;
}
.order-line {
    height: 1px;
    background: #DDDDDD;
    margin-top: 32px;
    margin-bottom: 34px;
}
.order-block-table-wrapper {
    margin-bottom: 54px;
    margin-top: 33px;
}
.order-block-table {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    thead {
        tr {
            th {
                border-bottom: 1px solid #DDDDDD;
                padding-bottom: 9px;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 16px 0 16px 10px;
                &:first-child {
                    padding-left: 0;
                }
                &.td-img {
                    width: 89px;
                    padding-right: 9px;
                }
            }
        }
    }
}
.table-img {
    display: block;
    padding-top: 100%;
    height: 0;
    background-size: cover;
    background-position: 117% 50%;
}
.table-summary {
    max-width: 380px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    tbody {
        tr {
            td {
                padding-bottom: 4px;
                &:last-child {
                    padding-left: 5px;
                    text-align: right;
                    font-weight: normal;
                }
            }
            &:last-child {
                td {
                    padding-bottom: 24px;
                }
            }
        }
    }
    tfoot {
        tr {
            td {
                padding-top: 7px;
                border-top: 1px solid #ddd;
                &:last-child {
                    padding-left: 5px;
                    text-align: right;
                    color: $p;
                }
            }
        }
    }
}
.form-block {
    padding-top: 18px;
    margin-bottom: 30px;
}
.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.form-cell-label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    flex: 0 0 22%;
    max-width: 22%;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    &-full {
        flex: 0 0 100%;
        max-width: 100%;
        font-weight: normal;
        padding-bottom: 20px;
    }
}
.form-cell {
    flex: 0 0 78%;
    max-width: 78%;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.form-cell-x2 {
    flex: 0 0 39%;
    max-width: 39%;
}
.form-cell-x3 {
    flex: 0 0 26%;
    max-width: 26%;
}
.form-row-navigation {
    padding-top: 30px;
}
.form-block-checkbox {
    padding-top: 27px;
    padding-bottom: 40px;
    .checkbox + .checkbox {
        margin-top: 3px;
    }
}
.form-block-line {
    height: 1px;
    background: #ddd;
    margin-top: 60px;
}
.add-card {
    display: flex;
    border-top: 1px solid #ddd;
    padding-top: 24px;
}
.add-card-title {
    white-space: nowrap;
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.add-card-content {
    flex-grow: 1;
}
.cart-list {
    padding-bottom: 36px;
}
.cart-item {
    display: flex;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.04);
    align-items: center;
    margin-bottom: 30px;
    padding: 14px;
}
.cart-item-title {
    flex-grow: 1;
    letter-spacing: -0.45px;
    font-weight: 500;
    padding: 10px 15px;
}
.cart-item-nav {
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 15px;
}
.add-card-navigation {
    margin-bottom: 38px;
}
.promo-code-block {
    max-width: 343px;
}
.cart-block-summary {
    margin-left: auto;
    max-width: 380px;
}
.promo-code-input {
    margin-bottom: 12px;
}
.cart-block-table-navigation {
    text-align: right;
    padding-top: 33px;
    padding-bottom: 5px;
}
.cart-block-table {
    border-collapse: separate;
    thead {
        tr {
            th {
                border-bottom: 0;
            }
        }
    }
    tbody {
        background: #FFFFFF;
        box-shadow: 0 10px 8px 0 rgba(0,0,0,0.04);
        border-radius: 4px;
        tr {
            td {
                border-top: 0;
                &:first-child {
                    border-left: 1px solid #E9E9E9;
                }
                &:last-child {
                    border-right: 1px solid #E9E9E9;
                }
                &:first-child {
                    width: 109px;
                    padding-left: 20px;
                }
            }
            &:first-child {
                td {
                    border-top: 1px solid #E9E9E9;
                    &:first-child {
                        border-radius: 4px 0 0 0;
                    }
                    &:last-child {
                        border-radius: 0 4px 0 0;
                    }
                }
            }
            &:last-child {
                td {
                    border-bottom: 1px solid #E9E9E9;
                    &:first-child {
                        border-radius: 0 0 0 4px;
                    }
                    &:last-child {
                        border-radius: 0 0 4px 0;
                    }
                }
            }
        }
    }
}
a.cart-delete {
    background: $p;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -9999px;
    display: block;
    position: relative;
    transform: rotate(45deg);
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 12px;
        background: $w;
        border-radius: 1px;
        transform: translate3d(-50%, -50%, 0);
    }
    &:after {
        width: 12px;
        height: 2px;
    }
}
.checkout-steps {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: $fontTitle;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: 11px;
}
.checkout-step {
    text-align: center;
    flex: 0 0 38px;
    max-width: 38px;
    padding: 0 3px;
    &.active {
        .checkout-step-number {
            background-color: $w;
            color: $p;
        }
    }
    &.checked {
        .checkout-step-number {
            background: $w url('../upload/step-checked.svg') no-repeat 50% 50%;
            color: $tr;
        }
    }
}
.checkout-step-number {
    width: 32px;
    height: 32px;
    border: 1px solid $w;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 8px;
}
.checkout-step-title {
    margin-left: -50px;
    margin-right: -50px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.checkout-step-line {
    height: 19px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.28);
    flex: 0 0 81px;
    max-width: 81px;
}
.sidebar-summary {
    margin-top: -15px;
    margin-bottom: 50px;
    border-radius: 4px;
    padding: 27px 20px 42px;
    border: 1px solid #E9E9E9;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.04);
}
.sidebar-summary-title {
    font-size: 24px;
    font-weight: bold;
    color: #36393B;
    border-bottom: 1px solid #DDDDDD;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px 15px;
    margin-bottom: 36px;
    letter-spacing: -0.5px;
}
.shipping-item {
    padding: 16px 20px 16px 30px;
    margin-bottom: 4px;
    border-bottom: 1px solid #DDDDDD;
    label {
        display: block;
    }
    input {
        &:checked + label {
            font-weight: bold;
        }
    }
}
.label-cols {
    display: flex;
    width: 100%;
}
.label-col-title {
    display: block;
    flex-grow: 1;
}
.label-col-value {
    display: block;
    text-align: right;
    white-space: nowrap;
    padding-left: 15px;
}
.payment-item {
    padding: 5px 0 10px;
    input {
        &:checked + label {
            font-weight: bold;
        }
    }
}
.order-block-navigation {
    padding: 35px 0 20px;
}
.order-block-saved-card {
    max-width: 480px;
    margin-bottom: 5px;
}
.teachers-cta {
    background: #54627B url('../upload/teachers-cta.jpg') 50% 0 no-repeat;
    background-size: cover;
    .row {
        min-height: 630px;
    }
}
.teachers-cta-content {
    padding-top: 50px;
    padding-top: 46px;
    color: $w;
    font-family: $ft;
    font-size: 16px;
    line-height: 1.375;
    p {
        max-width: 360px;
        margin-bottom: 37px;
    }
    h3 {
        font-size: 36px;
        line-height: 1.23;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-bottom: 32px;
    }
}
.teachers-list {
    position: relative;
    padding-top: 17px;
    padding-bottom: 142px;
}
.teachers-flower {
    position: absolute;
    max-width: 403px;
    width: 27.98%;
    top: 0;
    transform: translate3d(0, -50%, 0);
    left: 0;
    img {
        display: block;
    }
}
.teacher {
    text-align: center;
    padding-bottom: 50px;
    max-width: 256px;
    margin: 0 auto;
    font-family: $ft;
}
.teacher-link {
    display: block;
    cursor: pointer;
}
.teacher-photo {
    display: block;
    padding: 4px;
    border-radius: 50%;
    background: linear-gradient(135deg, #3AD6DF 0%, #9614B4 100%);
    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 3px solid $w;
    }
}
.teacher-link-name {
    padding-top: 20px;
    display: block;
    color: #363C50;
    font-size: 20px;
    font-weight: 500;
}
.teacher-social {
    color: $w;
    font-size: 14px;
    padding-top: 5px;
    a {
        color: #7A7A7A;
    }
}
.teacher-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 !important;
    background: #F5F5F5;
}
.teacher-info {
    padding-top: 25px;
    padding-bottom: 25px;
}
.teacher-info-content {
    font-size: 14px;
    color: #444444;
    line-height: 1.571;
    padding-bottom: 100px;
    padding-left: 8%;
    h2 {
        color: #110829;
        letter-spacing: -0.5px;
        font-size: 36px;
        line-height: 1.38;
        font-weight: 600;
        font-family: $ft;
        padding-bottom: 21px;
    }
    p {
        padding-bottom: 22px;
    }
}
.modal-close {
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    font-size: 0;
    position: relative;
    background: $tr;
    border: 0;
    transform: rotate(45deg);
    &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 50%;
        bottom: -4px;
        margin-left: -1px;
        width: 2px;
        background: $p;
        transition: background-color $d $f;
    }
    &:after {
        content: "";
        position: absolute;
        left: -4px;
        top: 50%;
        right: -4px;
        margin-top: -1px;
        height: 2px;
        background: $p;
        transition: background-color $d $f;
    }
    &:hover {
        &:before,
        &:after {
            background-color: $lh;
        }
    }
}
.modal-header {
    padding-top: 35px;
    padding-bottom: 70px;
}
.teacher-courses {
}
.teacher-courses-title {
}
.teacher-course {
}
.teacher-course-link {
    display: block;
    background: $w;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    color: #444444;
    padding: 16px 15px 15px;
    &:hover {
        color: #444444;
    }
}
.teacher-course-photo {
    display: block;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.teacher-course-title {
    display: block;
    letter-spacing: -0.25px;
    font-size: 18px;
    font-weight: 600;
    font-family: $ft;
    color: #110829;
}
.teacher-course-subtitle {
    display: block;
    color: #2FA8BA;
    font-size: 14px;
    font-weight: 600;
}
.teacher-course-description {
    display: block;
    font-size: 14px;
    line-height: 1.571;
}
.teacher-course-meta {
    display: block;
    color: #202124;
    font-size: 14px;
}
.teacher-testimonial {
    position: relative;
    padding: 100px 0 100px;
}
.teacher-testimonial-link {
    display: block;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.teacher-testimonial-title {}

