/* forms */
.flash {
    font-size: 14px;
    font-weight: 600;
    font-family: $ft;
    margin-bottom: 15px;
}
.error {
    color: $error !important;
    border-color: $error !important;
}
.success {
    color: $success !important;
    border-color: $success !important;
}
.disabled {
    color: $gray !important;
    border-color: $gray !important;
    cursor: default !important;
}
input.input-text {
    width: 100%;
    padding: 5px 19px;
    color: #232429;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    display: block;
    height: 47px;
    border: 1px solid #CCCCCC;
    background: $w;
    transition: color $d $f, background-color $d $f, border-color $d $f, box-shadow $d $f;
    &:disabled {
        opacity: 0.25;
    }
    &:focus {
        border-color: $p;
    }
    &.input-text-quantity {
        display: inline-block;
        width: 42px;
        height: 42px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
textarea.textarea {
    @extend input.input-text;
    font-family: $fontFamily;
    overflow: auto;
    height: auto;
    &:disabled {
        opacity: 0.25;
    }
}
select.select {
    height: 47px;
    width: 100%;
    font-size: 14px;
    background: $w url('../upload/selectbox.svg') no-repeat 100% 50%;
    background-size: 29px 7px;
    padding: 0 30px 0 19px;
    border: 1px solid #CCCCCC;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    &:disabled {
        opacity: 0.25;
    }
    &:focus {
        //border-color: $p;
    }
}
select.select::-ms-expand {
    display: none;
}
select.select-size {
    cursor: pointer;
    padding: 0 52px 0 40px;
    color: #202124;
    font-weight: 600;
    font-size: 14px;
    font-family: $ft;
    height: 42px;
    border: 1px solid #c7c7ca;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 6px;
    background: #e3e3e6 url('../upload/icons/select.svg') 100% 50% no-repeat;
    background-size: 24px 6px;
}
select.select-size::-ms-expand {
    display: none;
}
.checkbox,
.radio {
    display: block;
    input {
        display: none;
        &:checked + label {
            &:before {
                background-color: $p;
                border-color: $p;
            }
        }
        &:disabled + label {
            opacity: 0.25;
        }
    }
    label {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-block;
        position: relative;
        padding-left: 36px;
        font-size: 14px;
        line-height: 20px;
        color: #232429;
        &:before {
            width: 20px;
            height: 20px;
            background: $w;
            border-radius: 4px;
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            border: 1px solid #CCCCCC;
            transition: background-color $d $f, border-color $d $f;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background: transparent url('../upload/checkbox.svg') 50% 50% no-repeat;
            background-size: 14px 10px;
        }
    }
}
.radio {
    input {
        &:checked + label {
            &:before {
                background-color: $w;
                border-color: #979797;
            }
            &:after {
                opacity: 1;
            }
        }
    }
    label {
        &:before {
            border-radius: 50%;
            border-color: #979797;
        }
        &:after {
            background: $tr;
            border-radius: 50%;
            border: 4px solid $p;
            opacity: 0;
            transition: opacity $d $f;
        }
    }
}
a.button,
input.button,
button.button {
    border: 2px solid $p;
    background: $p;
    font-weight: bold;
    font-family: $ff;
    font-size: 17px;
    color: $w;
    display: inline-block;
    border-radius: 25px;
    padding: 10px 47px;
    transition: color $d $f, background-color $d $f, border-color $d $f, box-shadow $d $f;
    &:hover {
        background-color: $lh;
        border-color: $lh;
    }
    &:focus {
        box-shadow: 0 0 0 3px $focus;
    }
    &-ghost {
        background-color: $tr;
        color: $s;
        &:hover {
            color: $w;
        }
        &.button-secondary {
            color: #666;
            border-color: #BBBBBB;
            border-width: 1px;
            padding-top: 11px;
            padding-bottom: 11px;
            &:hover {
                color: $w;
                background-color: #BBBBBB;
            }
        }
    }
    &-transparent {
        background-color: $tr;
        border-color: $tr;
        padding-left: 20px;
        padding-right: 20px;
        color: $p;
        &:hover {
            color: $lh;
            background-color: $tr;
            border-color: $tr;
        }
    }
    &-shadow {
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    }
}
input.button,
button.button {
    line-height: normal;
}
