/* grid */
.main {
    min-height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
.container {
    padding-left: 7%;
    padding-right: 7%;
}
.page-inner {
    .main {
        padding-top: 90px;
    }
    .container {
        padding-left: 6.26%;
        padding-right: 6.26%;
    }
}