 /* header */
.header-global {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 23px;
    transition: transform $d*2 $f, opacity $d*2 $f, background-color $d*2 $f;
    transform: translate3d(0, 0, 0);
    z-index: 9090;
    // &.from-top {
    //     background: rgba(17, 8, 41, 0.9);
    //     transform: translate3d(0, -25px, 0);
    // }
    // &.nav-up {
    //     transform: translate3d(0, -101%, 0) !important;
    // }
}
.page-inner {
    .header-global {
        padding-top: 25px;
        position: fixed;
    }
    a.logo {
        width: 161px;
    }
}
.page-product {
    .header-global {
        background-color: #D6D5DA !important;
    }
}
.page-default {
    .header-global {
        position: absolute !important;
    }
}
a.logo {
    display: block;
    width: 200px;
    transition: opacity $d $f;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    &:hover {
        opacity: 0.8;
    }
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $ft;
    font-size: 16px;
    & > li {
        margin: 0 0 0 24px;
        &.current-menu-parent {}
        &.current-menu-item {}
        &.menu-item-has-children {}
        &:hover {
            & > ul {
                display: block;
            }
        }
        & > a {
            display: block;
            color: $w;
            transition: color $d $f, background-color $d $f, border-color $d $f, box-shadow $d $f, opacity $d $f;
            &:hover {
                opacity: 0.8;
            }
        }
        & > ul {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
        }
    }
    a.button {
        white-space: nowrap;
        text-align: center;
        min-width: 158px;
        font-size: 16px;
        padding: 7px 24px !important;
        margin-bottom: 3px;
        color: $w !important;
        font-family: $ft !important;
        &:hover {
            opacity: 1 !important;
        }
        &.button-secondary {
            font-weight: normal !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            min-width: 0 !important;
        }
    }
}
.page-inner {
    .menu {
        margin-top: -2px;
        & > li {
            & > a {
                color: #363C50;
            }
        }
        a.button {
            &.button-secondary {
                color: #363C50 !important;
                &:hover {
                    color: $w !important;
                }
            }
        }
    }
}
.navigation {}
.navigation-toggle {
    margin-top: -3px;
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: 5050;
    border-radius: 5px;
    transform: translate3d(0, -50%, 0);
    &:focus {
        //box-shadow: 0 0 0 3px $focus;
    }
}
.navigation-toggle-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 2px;
    background: $p;
    border-radius: 1px;
    transform: translate3d(0, -50%, 0);
    transition: background-color $d $f;
    &:before,
    &:after {
        border-radius: 1px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: $p;
        transform: translate3d(0, -9px, 0);
        transition: transform $d $f;
    }
    &:after {
        transform: translate3d(0, 9px, 0);
    }
}
.navigation-open {
    .navigation-toggle-icon {
        background-color: $tr;
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }
}
.message-global {
    background: $p;
    color: $w;
    text-align: center;
    font-family: $ft;
    font-weight: 600;
    line-height: 1;
    padding: 21px 0;
}
.countdown-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.countdown-title {
    font-size: 20px;
    letter-spacing: 0.3px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.countdown {
    display: flex;
    .num,
    .word {
        font-size: 30px;
        display: block;
    }
    .num {
        position: relative;
        &:before {
            content: ":";
            position: absolute;
            top: -1px;
            left: -2px;
        }
    }
    .day {
        .num {
            &:before {
                display: none;
            }
        }
    }
    .word {
        padding-top: 3px;
        letter-spacing: -0.5px;
        font-size: 10px;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: 300;
    }
}
.countdown-item {
    min-width: 66px;
}