/* typography */
a {
    color: $link;
    text-decoration: none;
    background-color: $tr;
    transition: color $d $f, background-color $d $f, border-color $d $f, box-shadow $d $f;
    &:hover {
        color: $link-hover;
    }
    &:focus {
        //color: $link-hover;
    }
    &.underline {
        text-decoration: underline;
    }
}
.content-title {
    text-align: center;
    font-family: $ft;
    color: #110829;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding-bottom: 86px;
    h1 {
        font-size: 100%;
        font-weight: 600;
    }
}
.content {
    padding-top: 128px;
    padding-bottom: 120px;
}
.page-text {
    background-color: $w;
    .main {
        background-color: $w;
    }
    .wysiwyg {
        font-family: $ft;
        font-size: 14px;
        line-height: 1.785;
        h4 {
            line-height: 1.5;
        }
    }
}
.wysiwyg {
    @extend .clearfix;
    font-size: 16px;
    color: #36393B;
    line-height: 1.5;
    h1 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h2 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h3 {
        font-size: 22px;
        line-height: 1.2;
        font-weight: bold;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h3 + h6 {
        margin-top: -17px;
    }
    h4 {
        margin-top: $spacer;
        font-size: 18px;
        font-weight: 600;
    }
    h4 + p {
        margin-top: 0;
    }
    h5 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h6 {
        font-size: 14px;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h6 + p {
        margin-top: 37px;
    }
    p {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    img {
        display: block;
        margin-top: $spacer;
        margin-bottom: $spacer;
        &.alignleft {
            margin: $spacer $spacer $spacer 0;
        }
        &.alignright {
            margin: $spacer 0 $spacer $spacer;
        }
        &.aligncenter {
        }
    }
    blockquote {
        margin-top: $spacer;
        margin-bottom: $spacer;
        padding-left: $spacer;
        font-style: italic;
        p {
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        margin-top: 56px;
        margin-bottom: 55px;
        border: 0;
        border-bottom: 1px solid #DDDDDD;
        &.transparent {
            border-bottom-color: $transparent;
        }
    }
    ul {
        overflow: hidden;
        margin-top: $spacer;
        margin-bottom: $spacer;
        list-style: inside disc;
        li {
            padding-left: $spacer;
        }
    }
    ol {
        overflow: hidden;
        margin-top: $spacer;
        margin-bottom: $spacer;
        list-style: inside decimal;
        li {
            padding-left: $spacer;
        }
    }
    table {
        margin-top: $spacer;
        margin-bottom: $spacer;
        th {
            padding: $spacer/2 $spacer;
            background: $light-gray;
            border: 1px solid $light-gray;
        }
        td {
            padding: $spacer/2 $spacer;
            border: 1px solid $light-gray;
        }
    }
}